section {
  padding: 1rem;

}
.container {
  display: flex;
}
img{
  width: 400px;
  height: 533px;
}
p {
  text-align: justify;
}
.home {
  padding: 80px;
  text-align: center;
}
h1 {
  margin: 1.5em;
}
footer p {
  float: none;
 }